@model ReviewsSites.Models.Beer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/BeerDetails.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Norican|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width" initial-scale=1.0 />
    <title>Beer Details</title>
</head>

<body>
    <header>
        <i id="mug" class="fas fa-beer"></i>
        <a href="/Beer/Index">All Beers</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
    </header>

    <div class="Background">

        <div class="beerDetails">
            <div class="beerDescription">
                <h1>@Model.Name</h1>
                <h3>by @Model.Brewery</h3>
                <h3>@Model.Abv  ABV</h3>
                <h3>Rating: @Model.Rating</h3>

                <div class="mugs">
                    <i id="mugReview" class="fas fa-beer"></i>
                    <i id="mugReview" class="fas fa-beer"></i>
                    <i id="mugReview" class="fas fa-beer"></i>
                    <i id="mugReview" class="fas fa-beer"></i>
                    <i id="mugReview1" class="fas fa-beer"></i>
                </div>

                <p class="descriptionTxt">@Model.Description</p>
            </div>
            <div class="beerPicture">
                <img src="@Model.ImgPath" />
            </div>
        </div>
    </div>
    <div class="UserReviewSection">

        <a class="leaveReview" href="/UserReview/Create/@Model.BeerId">Leave a Review</a>

        <h3>Here's what our users have to say...</h3>

        <ul>
            @foreach (var userReview in Model.UserReviews)
            {
                <li>
                    @userReview.UserRating/5
                    <p>@userReview.UserText</p>
                    <a href="/UserReview/Edit/@userReview.UserReviewId">Edit Review</a>
                    <a href="/UserReview/Delete/@userReview.UserReviewId">Delete Review</a>
                </li>
                <hr />
            }
        </ul>
    </div>
    <div class="sidenav">
        <i id="mug" class="fas fa-beer"></i>
        <p>Welcome to Beerds! The premiere hub of beer reviews! Choose from our list of beers to give it a rating or to learn more.</p>
        <div class="NavLinks">
            <a href="/Beer/Index">All Beers</a>
            <hr />
            <div class="ContactInfo">
                <a href="#about">About</a>
                <br />
                <br />
                <a href="#contact">Contact</a>
            </div>
        </div>
    </div>
    <footer>
        &copy;2019&nbsp;&nbsp;Team 3D
    </footer>

</body>

</html>
>